:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
    --primary-color: #6a3093;
    --color-white: #f0f0f0;
    --color-text: #B24592;
  
  
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
  
   
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  
  
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
  
  
    --site-max-width: 1300px;
  
  
    }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
  }

  .custom-blue {
    background-color: #7CD973;
  }
  .footer-center {
    text-align: center;
    margin-top: 20px;
}
.animated-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.animated-button:hover {
    background-color: #0056b3;
}


footer {  
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #7CD973; 
    color: #00008b;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3); 
}
.footer-link {
    color: #00008b;
    text-decoration: cursive ;
    margin: 0 10px;
    text-align: center;
}
.footer-link:hover {
    text-decoration: underline;
    text-align: center;
}

.col-md-12-text-start-text-align-center {
    margin-left: auto
}

  
@media(max-width: 450px) {
    .links-container{
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
  
      background-color: var(--color-1);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
}
  

.container {
    max-width: 900px; 
    padding: 20px; 
}

.row {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.col-md-7 {
    padding: 20px;
    background-color: var(--color-white);
}

.col-md-5 {
    background-color: var(--color-text);
    padding: 20px;
    color: var(--color-white);
}

.form-control {
    height: 52px;
    background: var(--color-white);
    color: var(--color-1);
    font-size: 14px;
    border-radius: 2px;
    box-sizing: border-box; 
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bi {
    font-size: 20px;
}

.d-flex p {
    font-size: 18px;
    padding-left: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }

    .col-md-7 {
        margin-bottom: 20px; 
    }

    .contact-info {
        margin-top: 20px; 
    }

    .image-logo {
        width: 80%;
        height: 50px;
    }
}

.image-logo {
    border-radius: 69px;
}

.custom-color {
    background-color: #182db7;
}

.nav-link {
    color: #fff;
}